<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.letech.demo.cmn.role.dao.RoleDAO">

  <insert id="insertDefaultRole">
    /* kr.letech.demo.cmn.role.dao.RoleDAO.insertDefaultRole */
    INSERT INTO TB_USER_ROLE (
        MEM_ID
      , ROLE_ID
    ) VALUES (
        #{memId, jdbcType=VARCHAR}
      , 'R001'
    )
  </insert>

  <select id="selectRoleList" resultType="kr.letech.demo.cmn.role.vo.RoleVO">
    /* kr.letech.demo.cmn.role.dao.RoleDAO.RoleDao.selectRoleList */
    SELECT A.MEM_ID
         , A.ROLE_ID
         , B.ROLE_NM
      FROM TB_USER_ROLE A
     INNER JOIN TB_ROLE B ON(A.ROLE_ID = B.ROLE_ID)
     WHERE 1 = 1
       AND A.MEM_ID = #{memId}
  </select>
</mapper>